.forgot-password-container {
  height: 100vh;
  background-color: #1e2a38;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-password-card {
  background-color: #2f3e4e;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
}

.forgot-password-title {
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
  font-size: 22px;
}

.forgot-input-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #3e5063;
  background-color: #3b4b5c;
  border-radius: 8px;
  padding: 10px;
}

.forgot-input-icon {
  color: #a9b7c6;
  margin-right: 10px;
}

.forgot-input-group input {
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  width: 100%;
  font-size: 14px;
}

.forgot-input-group input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s; /* Bazı eski Chrome hacki */
}

.forgot-button {
  width: 100%;
  padding: 12px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.forgot-button:hover {
  background-color: #1565c0;
}

.success-message {
  color: #a5d6a7;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  padding-bottom: 15px;
}

.error-message {
  color: red;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  padding-bottom: 15px;
}

.back-to-login {
  text-align: center;
  margin-top: 20px;
}

.back-to-login a {
  color: #90caf9;
  font-size: 13px;
  text-decoration: none;
}

.back-to-login a:hover {
  text-decoration: underline;
}
