.navbar__sub {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.navbar__sub--open {
  opacity: 1;
  visibility: visible;
  max-height: 1000px; /* Yeterince büyük bir değer belirleyin */
  transition: opacity 0.5s ease-in-out, visibility 0.5s,
    max-height 0.5s ease-in-out;
}

.navbar__sub--close {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  transition: opacity 0.5s ease-in-out, visibility 0.5s,
    max-height 0.5s ease-in-out;
}

.navbar__sub-item {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
}

.navbar__item__sub-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  cursor: pointer;
  padding: 5px 0 5px 0;
  border-radius: 5px;
}

.navbar__item__sub-hover:hover {
  background-color: #2a2f3a !important;
  color: #a0a0a0;
  border-radius: 5px;
}

.navbar__item__sub-container-icon-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.navbar__item__sub-container-icon-text > svg {
  font-size: 22.5px;
}

.navbar__item__sub-container-arrow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__sub-text {
  color: #f0f0f0;
  width: 110px;
  font-size: 13px;
  height: 19px;
}

.navbar__sub-text--hover:hover {
  color: #ffc107;
}

.navbar__sub__child-text--orange {
  color: #ffc107;
}

.navbar__sub__child {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s,
    max-height 0.5s ease-in-out;
  margin-left: 20px;
}

.navbar__sub__child--open {
  opacity: 1;
  visibility: visible;
  max-height: 1000px; /* Yeterince büyük bir değer belirleyin */
  transition: opacity 0.5s ease-in-out, visibility 0.5s,
    max-height 0.5s ease-in-out;
}

.navbar__sub__child--close {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  transition: opacity 0.5s ease-in-out, visibility 0.5s,
    max-height 0.5s ease-in-out;
}

.navbar__sub__child-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 50%;
}

.navbar__sub__child-item:first-child {
  margin-top: 10px;
}

.navbar__sub__child-text {
  width: 140px;
  color: #e0e0e0;
  font-size: 12px;
}

.navbar__sub__child-text:hover {
  color: #ffc107;
}

.navbar__sub__child-text--orange {
  color: #ffc107;
}
