* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.container {
  display: flex;
  position: relative;
  width: 100vw;
}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  background-color: #314155;
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  .box {
    position: absolute;
    left: 0;
  }
}
