.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin-top: 40px;
}

.form-container {
  margin-top: 40px;
}

h1 {
  color: #000;
  text-align: center;
}

.loading_screen {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-top: 50px;
}

.form * {
  color: #000;
}

.form-container__content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.form-container__content > label {
  color: #fff;
}

.form-container__content__input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.form__label {
  width: 170px;
  height: 27.2px;
  line-height: 27.2px;
}

.form__input {
  height: 27px;
  overflow: auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form__select {
  width: 200px;
}

.form__select * {
  color: black;
}

.form__button {
  width: 140px;
  height: 40px;
  border-radius: 10px;
  background-color: #0a1931;
  color: #fff;
  cursor: pointer;
  border: none;
  margin-bottom: 20px;
}

.input-error {
  color: red;
  width: 200px;
}

@media screen and (max-width: 768px) {
  .pop-up {
    width: 70%;
    max-width: 298px;
    transform: none;
    top: 40px;
  }

  .form-container__content {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    max-width: 300px;
  }
  h1 {
    font-size: 4vw;
  }
  .form-container__content__input-group {
    align-items: center;
    width: 100%;
  }
  .form__label {
    width: auto;
  }

  .form__input {
    width: 90%;
    height: 30px;
  }

  .form__select {
    width: 90%;
    height: 30px;
  }
  .form__button {
    margin-bottom: 20px;
  }
}
