.header {
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #1e1e1e;
  display: flex;
  padding: 0px 10px 0px 10px;
}

.header__icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__icon-container > svg {
  cursor: pointer;
  color: #ffff !important;
  fill: #ffff !important;
}

.menu-icon {
  width: 30px !important;
  height: 30px !important;
  cursor: pointer;
  color: #ffff !important;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.home-icon {
  width: 25px !important;
  height: 25px !important;
  cursor: pointer;
  color: #ffff !important;
}

#saving-icon {
  width: 25px !important;
  height: 25px !important;
  cursor: pointer;
  color: #ffff !important;
  fill: #ffff !important;
}

.person-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-right: 15px;
  color: #ffff !important;
  fill: #ffff !important;
}

#person-icon {
  width: 25px !important;
  height: 25px !important;
  cursor: pointer;
  color: #ffff !important;
  fill: #ffff !important;
}

#logout-icon {
  width: 25px !important;
  height: 25px !important;
  cursor: pointer;
  color: #ffff !important;
  fill: #ffff !important;
}

@media screen and (max-width: 500px) {
  .header {
    height: 80px;
    gap: 5px;
  }
  .home-icon {
    width: 5vw !important;
    height: 5vh !important;
    cursor: pointer;
  }

  .saving-icon {
    width: 5vw !important;
    height: 5vh !important;
    cursor: pointer;
  }

  .person-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-right: 15px;
    width: 50px;
  }

  .person-content > p {
    font-size: 2.5vw;
  }

  .person-icon {
    width: 5vw !important;
    height: 5vh !important;
    cursor: pointer;
  }

  .logout-icon {
    width: 5vw !important;
    height: 5vh !important;
    cursor: pointer;
  }
}
