.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60% !important;
  max-width: 240px;
  min-height: 100vh;
  background-color: #1e1e1e;
  gap: 25px;
  padding-bottom: 20px;
  transition: width 0.3s ease-in-out;
  overflow: auto;
}

.sidebar--collapsed {
  width: 0px !important;
}

.closeMenu {
  position: absolute;
  left: 82%;
  top: 70px;
  right: 0;
  fill: white;
  cursor: pointer;
  display: none;
}

.closeMenu--collapsed {
  visibility: hidden;
}

.sidebar__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-top: 30px;
  transition: opacity 0.5s;
}

.sidebar__logo--collapsed {
  opacity: 0;
  max-width: 0;
  overflow: hidden;
}

.sidebar__logo img {
  width: 70px;
}

.sidebar__logo__title {
  color: #fff;
}

.sidebar__logo__underline {
  border: 1px solid gray;
  width: 90%;
}

.navbar {
  width: 100%;
}

.navbar__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
  }
  .closeMenu {
    display: block;
  }
}
